{% extends"OldMotorsBundle:Default:index.html.twig"%}
{% block title %}Usługi{% endblock %}
{% block content%}
    <div id="content">
        <h1>Zakres usług </h1>
        <p>
            Lorem ipsum dolor sit amet, periculis cotidieque definitiones pri et, amet consulatu reprehendunt ei per. In ipsum civibus adversarium vis. Option iudicabit ut pro. Ea suas electram neglegentur sed, solet dicant sed cu. Utinam civibus maiestatis eam at, eos at vocent forensibus. Vocibus corpora est ut.
            Id nec ridens expetendis. Has ex platonem delicatissimi. Sea id agam aliquando, luptatum expetenda et ius. Mea alia dolor eu. Mel ut dolor blandit contentiones. Sea in iudico munere tibique, ut nec eripuit salutandi cotidieque.
        </p>
    </div>
    <div class="promos">
    {% for offer in offers %}
        {% if loop.index % 3 != 0 %}
        <div class="row">
        {% endif %}
            <div class="promo">
                <div class="deal">
                    <span>{{ offer.name|capitalize }}</span>
                    <span>Deal!</span>
                </div>
                <span class="price">{{ offer.price }}PLN</span>
                <ul class="features">
                    <li>{{ offer.description }}</li>
                </ul>
            </div>
        {% if loop.index % 3 == 0 or loop.last %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock%}