{% extends"OldMotorsBundle:Default:index.html.twig"%}
{% block title %}Skontaktuj się{% endblock %}
{% block content%}
    <div id="content">
        <h1>Chciałbyś się z nami skontaktować ?</h1>
        <p>
            Lorem ipsum dolor sit amet, periculis cotidieque definitiones pri et, amet consulatu reprehendunt ei per. In ipsum civibus adversarium vis. Option iudicabit ut pro. Ea suas electram neglegentur sed, solet dicant sed cu. Utinam civibus maiestatis eam at, eos at vocent forensibus. Vocibus corpora est ut.
            Id nec ridens expetendis. Has ex platonem delicatissimi. Sea id agam aliquando, luptatum expetenda et ius. Mea alia dolor eu. Mel ut dolor blandit contentiones. Sea in iudico munere tibique, ut nec eripuit salutandi cotidieque.
        </p>
        <p class="tel">telefon: +48 111 11 11</p>
        <p class="e-mail">e-mail: napraw.mnie@naprawiamy.pl </p>
    </div>
    <form class="contact-form">
        <div class="row">
            <div class="col-md-4 inputForms">
                <input type="text" placeholder="Imię"/>
            </div>
            <div class="col-md-4 inputForms">
                <input type="text" placeholder="Nazwisko"/>
            </div>
            <div class="col-md-4 inputForms">
                <input type="text" placeholder="Adres e-mail"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 inputForms">
                <textarea type="text" placeholder="Treść wiadomości"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button> Wyślij </button>
            </div>
        </div>
    </form>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.596404582047!2d19.53615631521126!3d51.7587033001193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bccb1c95c9e25%3A0x74880b0b2156656!2sDom+Kultury+502!5e0!3m2!1spl!2spl!4v1482094128833" allowfullscreen></iframe>
    </div>
{% endblock%}
