
::-webkit-scrollbar{
	width: 15px;
	background-color: rgba(6, 6, 6, 0.10);
	-webkit-box-shadow: inset 0 0 6px white !important;
}
::-webkit-scrollbar-track{
	background-color: rgba(6, 6, 6, 0.51);
	-webkit-box-shadow: inset 0 0 6px black !important;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb{
	height: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: inset 0 0 10px black !important;
}
@font-face {
	font-family: 'Junction-regular';
	src: url('../fonts/Junction-regular.otf');
}

body{
	position: absolute;
	margin:0;
	font-family: "Arial",serif;
	background-color: black;
	z-index: 1;
}
#divNav{
	width: 100%;
    top: 0;
    left: 0;
	margin-right: 6px;
}
#nav{
    background-color: white;
	text-shadow: 0px 0px 5px white,0 0 10px white;
	list-style: none;
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	padding:0 9px 8px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 4;
}
#nav > li{
	display:inline-block;
	padding: 20px 10px 20px 10px;
	margin: 0 0 0 0;
	-webkit-transition: all 500ms ease-in-out;
	-webkit-transform: scale(1);
	-ms-transition: all 500ms ease-in-out;
	-ms-transform: scale(1);
	-moz-transition: all 500ms ease-in-out;
	-moz-transform: scale(1);
	transition: all 500ms ease-in-out;
	transform: scale(1);
}
#nav > li > a {
	text-decoration: none;
	color: black;
	display: block;
	margin: 10px 10px 10px 10px;
	-webkit-transition: all 500ms ease-in-out;
	-webkit-transform: scale(1);
	-ms-transition: all 500ms ease-in-out;
	-ms-transform: scale(1);
	-moz-transition: all 500ms ease-in-out;
	-moz-transform: scale(1);
	transition: all 500ms ease-in-out;
	transform: scale(1);

}

#nav li:hover {
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.40s;
	box-shadow: 0px 0px 15px #000000;
	z-index: 2;
	-webkit-transition: all 800ms ease-in-out;
	-webkit-transform: scale(1.2);
	-ms-transition: all 800ms ease-in-out;
	-ms-transform: scale(1.2);
	-moz-transition: all 800ms ease-in-out;
	-moz-transform: scale(1.2);
	transition: all 800ms ease-in-out;
	transform: scale(1.2);
}
#nav li:hover a{
	color: white;
	transition: all 0.40s;
}
#content {
	margin: 10% 20% 10% 20%;
}
#content h1{
	color: black;
	text-align: center;
	margin: 0 20% 10% 20%;
}
/*#nav li.active {*/
	/*background-color: rgba(0, 0, 0, 0.7);*/
	/*box-shadow: 0px 0px 15px #000000;*/
	/*z-index: 2;*/
	/*-webkit-transform: scale(1);*/
/*}*/
#nav li.active{
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: -20px !important;
}
#nav li.active a{
	color: white;
	/*text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 15px black,0px 0px 20px black,0px 0px 25px black,0px 0px 40px black,0px 0px 55px black;*/
}

.blogItem{
	margin: 5% 20% 0 20%;
	z-index: 1;
}
.blogItemContent{

	color: rgb(255, 255, 255);
	background: linear-gradient(135deg, rgb(149, 149, 149) 0%, rgb(1, 1, 1) 28%, rgb(10, 10, 10) 81%, rgb(56, 56, 56) 97%, rgb(149, 149, 149) 100%, rgb(149, 149, 149) 100%, rgb(149, 149, 149) 100%, rgb(27, 27, 27) 100%, rgb(149, 149, 149) 100%);
	background-image: linear-gradient(135deg, rgb(149, 149, 149) 0%, rgb(1, 1, 1) 28%, rgb(10, 10, 10) 81%, rgb(56, 56, 56) 97%, rgb(149, 149, 149) 100%, rgb(149, 149, 149) 100%, rgb(149, 149, 149) 100%, rgb(27, 27, 27) 100%, rgb(149, 149, 149) 100%);
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	padding: 4%;
    box-shadow: 9px 9px 9px 0 black;
}
.time{
	margin: 2% 5% 2% 5%;
}
h2{
	text-align: center;
	padding-top: 2%;
	margin: 0% 5% 5% 5%;
}
.blogItemContent  p {
	margin: 0 5% 50px 5%;
	padding-bottom: 2%;

}
.blogItemGallery .row{
	margin-right:-15px;
	margin-left:-15px;
}
.img {
	position: relative;
	height: 700px;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 700px;
	background-image: url(../img/top-wallpaper.jpg);
}
.logo{
	height: 100px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	z-index: 3;
}
.companyName{
	background-image: url(../img/nazwa_firmy.png);
}
#logoIndex{
	background-image: url(../img/Tekst2.png);
}
#logoAbout{
	background-image: url(../img/TekstAbout.png);
}
#logoContact{
	background-image: url(../img/TekstContact.png);
}
#logoMotors{
	background-image: url(../img/TekstMotors.png);
}
.blogItemGallery{
	margin: 15% 0 15% 0;

}
.img-gallery{
	position: relative;
	float: left;
	width:  450px;
	height: 250px;
	background-position: 50% 50%;
	background-repeat:   no-repeat;
	background-size:     cover;
	display: block;
	margin: 10px 10px 10px 10px;
	-webkit-transition: all 500ms ease-in-out;
	-webkit-transform: scale(1);
	-ms-transition: all 500ms ease-in-out;
	-ms-transform: scale(1);
	-moz-transition: all 500ms ease-in-out;
	-moz-transform: scale(1);
	transition: all 500ms ease-in-out;
	transform: scale(1);
    box-shadow: 9px 9px 9px 0 black;

}
.img-gallery:hover{
	box-shadow: 0px 0px 15px #000000;
	z-index: 2;
	-webkit-transition: all 800ms ease-in-out;
	-webkit-transform: scale(1.2);
	-ms-transition: all 800ms ease-in-out;
	-ms-transform: scale(1.2);
	-moz-transition: all 800ms ease-in-out;
	-moz-transform: scale(1.2);
	transition: all 800ms ease-in-out;
	transform: scale(1.2);
}

.contentBody {
	position: relative;
	background-color: white;
	z-index: 1;
	padding-top: 2%;
	margin-bottom: 13%;
	padding-bottom: 10px;
	box-shadow: 0 5px 5px 5px white;
}
#contentMotors{
	margin: 5% 5% 50% 5%;
}
.myTable{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
}
.ourMotors{
	margin: 7% 20% 7% 20%;
}
.ourMotors h2{
	margin-bottom: 45px;
}
.ourMotor-item{
	height: 400px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 650px 400px;
}
.contact-form{
	margin: 5% 25% 5% 25%;
}
.contact-form input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 10px;
	border: solid 5px #c9c9c9;
	box-shadow: inset 0 0 0 1px #707070, 9px 9px 9px 0 black;
	transition: box-shadow 1s, border 1s, background-color 1s, color 1s;
	margin-bottom: 20px;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="text"].focus,
.contact-form input[type="email"].focus{
	border: solid 5px #969696;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(207, 202, 200, 0.94);
}
.contact-form textarea {
	width: 100%;
	height: 200px;
	padding: 10px;
	border: solid 5px #c9c9c9;
	box-shadow: inset 0 0 0 1px #707070, 9px 9px 9px 0 black;
	transition: box-shadow 1s, border 1s, background-color 1s, color 1s;
	margin-bottom: 20px
}
.contact-form textarea:focus,
.contact-form textarea.focus {
	border: solid 5px #969696;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(207, 202, 200, 0.94);
}
.contact-form button{
	position: relative;
	width: 100%;
	padding: 10px;
	color: rgba(0, 0, 0, 0.7);
	background: white;
	border: solid 5px #c9c9c9;
	box-shadow: inset 0 0 0 1px #707070, 9px 9px 9px 0 black;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	transition: color 1s ease-out;
}
.contact-form button:hover{
	border: solid 5px #969696;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(207, 202, 200, 0.94);
}
.contact-form select {
	width: 33%;
	padding: 10px;
	border: solid 5px #c9c9c9;
	box-shadow: inset 0 0 0 1px #707070, 9px 9px 9px 0 black;
	transition: box-shadow 1s, border 1s, background-color 1s, color 1s;
	margin-bottom: 20px
}
.contact-form select:focus,
.contact-form select.focus {
	border: solid 5px #969696;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(207, 202, 200, 0.94);
}
.contact-form input[type="number"] {
	width: 33%;
	padding: 10px;
	border: solid 5px #c9c9c9;
	box-shadow: inset 0 0 0 1px #707070, 9px 9px 9px 0 black;
	transition: box-shadow 1s, border 1s, background-color 1s, color 1s;
	margin-bottom: 20px
}
.contact-form input[type="number"]:focus,
.contact-form input[type="number"].focus {
	border: solid 5px #969696;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(207, 202, 200, 0.94);
}
.inputForms{
    margin-bottom: 10px;
}
.right-span {
	display: inline-block;
	border-radius: 4px;
	background-color: black;
	box-shadow: 2px 2px 5px 0 white;
	border: none;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}
.right-span:hover {
	background-color: black;

}

.right-span span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 1s;
}

.right-span span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 1s;

}

.right-span:hover span {
	padding-right: 25px;
	border: none;

}

.right-span:hover span:after {
	opacity: 1;
	right: 0;
	border: none;
}
.footer{
	background: black;
	color: white;
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -1;
	padding-left: 15%;
}
.footer li{
	list-style: none;
}
.footer a{
	color: white;
}

iframe{
	padding: 0% 20% 5% 20%;
	height: 700px;
	width: 100%;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
.promos {
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
    margin-bottom: 30px;
}
.promo {
	width: 250px;
	background: #0F1012;
	color: #f9f9f9;
	float: left;
    margin: 0 5px 15px 5px;
    box-shadow: 9px 9px 9px 0 black;
    -webkit-transition: all 500ms ease-in-out;
    -webkit-transform: scale(1);
    -ms-transition: all 500ms ease-in-out;
    -ms-transform: scale(1);
    -moz-transition: all 500ms ease-in-out;
    -moz-transform: scale(1);
    transition: all 500ms ease-in-out;
    transform: scale(1);
    display: block;
    position: relative;
}
.deal {
	padding: 10px 0 0 0;
}
.deal span {
	display: block;
	text-align: center;
}
.deal span:first-of-type {
	font-size: 23px;
}
.deal span:last-of-type {
	font-size: 13px;
}
.promo .price {
	display: block;
	width: 250px;
	background: #292b2e;
	margin: 15px 0 10px 0;
	text-align: center;
	font-size: 23px;
	padding: 17px 0 17px 0;
}
.features {
	display: block;
	margin: 20px 0 10px 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	color: #999999;
}
.features li {
	display: block;
	margin: 10px 0 0 0;
}

.promo:hover .price {
	color: #292b2e;
    background: white;
    z-index: 2;
}
.forSaleTitle{
	text-align: center;
	margin-bottom: 30px;
	font-size: x-large;
}
.forSaleDescription {
	margin-top: 45px;
	margin-bottom: 30px

}
.forSaleImage{
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:  450px;
	height: 250px;
	background-position: 50% 50%;
	background-repeat:   no-repeat;
	background-size:     cover;
	display: block;
	box-shadow: 0 0 4px 3px rgba(76,76,76,1) inset;
	-webkit-transition: all 500ms ease-in-out;
	-webkit-transform: scale(1);
	-ms-transition: all 500ms ease-in-out;
	-ms-transform: scale(1);
	-moz-transition: all 500ms ease-in-out;
	-moz-transform: scale(1);
	transition: all 500ms ease-in-out;
	transform: scale(1);
}
.forSaleImage:hover{
	z-index: 2;
	-webkit-transition: all 800ms ease-in-out;
	-webkit-transform: scale(1.2);
	-ms-transition: all 800ms ease-in-out;
	-ms-transform: scale(1.2);
	-moz-transition: all 800ms ease-in-out;
	-moz-transform: scale(1.2);
	transition: all 800ms ease-in-out;
	transform: scale(1.2);
}
.forSale {
	margin-bottom: 50px;
}

.forSaleItem {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+52,2b2b2b+100,474747+100,2b2b2b+100,1c1c1c+100,111111+100,111111+100,2c2c2c+100,000000+100,474747+100,131313+100 */
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 52%, rgba(43,43,43,1) 100%, rgba(71,71,71,1) 100%, rgba(43,43,43,1) 100%, rgba(28,28,28,1) 100%, rgba(17,17,17,1) 100%, rgba(17,17,17,1) 100%, rgba(44,44,44,1) 100%, rgba(0,0,0,1) 100%, rgba(71,71,71,1) 100%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 52%,rgba(43,43,43,1) 100%,rgba(71,71,71,1) 100%,rgba(43,43,43,1) 100%,rgba(28,28,28,1) 100%,rgba(17,17,17,1) 100%,rgba(17,17,17,1) 100%,rgba(44,44,44,1) 100%,rgba(0,0,0,1) 100%,rgba(71,71,71,1) 100%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(76,76,76,1) 52%,rgba(43,43,43,1) 100%,rgba(71,71,71,1) 100%,rgba(43,43,43,1) 100%,rgba(28,28,28,1) 100%,rgba(17,17,17,1) 100%,rgba(17,17,17,1) 100%,rgba(44,44,44,1) 100%,rgba(0,0,0,1) 100%,rgba(71,71,71,1) 100%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
	margin: 20px 40px 20px 40px;
	padding: 40px 40px 100px 40px;
	box-shadow: 9px 9px 9px 0 black;
	color: white;
}

.footer img{
	width: 25px;
	height: 25px;
}
.forSaleButton {
	display: inline-block;
	border-radius: 4px;
	background-color: black;
	box-shadow: 2px 2px 5px 0 white;
	border: none;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}
.forSaleButton:hover {
	background-color: black;

}

.forSaleButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 1s;
}

.forSaleButton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 1s;

}

.forSaleButton:hover span {
	padding-right: 25px;
	border: none;

}

.forSaleButton:hover span:after {
	opacity: 1;
	right: 0;
	border: none;
}
.details{
	margin-top: 10px;
	margin-bottom: 10px;
}
.end{
	margin-bottom: 30px;
}
a span{
	color: white;
}
