{% extends"OldMotorsBundle:Admin/index:index.html.twig"%}
{% block title %}Administracja aktualności{% endblock %}
{% block content%}
    <div id="content" >
        <p style="width: 100vw;">
        </p>
    </div>
    {{ form(form) }}
{% endblock %}