{% extends"OldMotorsBundle:Admin/index:index.html.twig"%}
{% block title %}Administracja{% endblock %}
{% block content%}
    <div id="content">
        <h1>Witaj Administratorze strony.</h1>
        <p>
            Wybierając jedną ze zakładek z powyższego menu masz możliwość dodawania,edytowania bądź uswania elementów na Twojej stronie.Jeśli chciałbyś zmodyfikować coś czego nie ma w powyższych opcjach, skontaktuj się ze swoim developerem a na pewno doda Ci taką opcję albo sam zmodyfikuje dla Ciebie potrzebny element.
        </p>
        <p class="e-mail">e-mail: zah3@o2.pl </p>
    </div>
{% endblock%}