{% extends"OldMotorsBundle:Admin/index:index.html.twig"%}
{% block title %}Administracja - na wynajem{% endblock %}
{% block content%}
    <div id="content" >
        <h1>Edycja</h1>
        <p style="width: 99vw;">
        </p>
    </div>
    {{ form(form) }}
{% endblock %}